#accountDisplay {
    display:inline;
}

#BuyButton{
    background-color: green;
    min-width: 75px;
}

#SellButton{
    background-color: red;
    min-width: 75px;
}
#nextMove{
    position: relative;
    bottom: -1000 px;
}